<!-- <nav class="main-header navbar navbar-light bg-faded navbar-fixed-top">
  <div class="nav navbar-nav">
    <form id='photoSubmission' class="form-inline">
      <label for='upload-file' class='btn btn-block btn-primary form-control'>Picture It</label>
      <input class='form-control form-control-lg' type='text' name='caption' placeholder='Caption It'>
      <input class='form-control' type='submit' value='Post It'>
      <input id='upload_file' type='file' accept='image/*' name='file' capture='camera'> 
    </form>
  </div>
</nav> -->
<nav class="main-header navbar navbar-light bg-faded navbar-fixed-top">
  <div class="nav navbar-nav">
		<%= form_for @image, :url => root_path, html: {multipart: true, class: 'form-inline'} do |f| %>
			<%= f.label :image, 'Picture It', {for: 'upload_file', class: "btn btn-block btn-primary form-control"} %>
			<%= f.text_field :caption, {class: 'form-control form-control-lg', placeholder: 'Caption It' } %>
			<%= f.submit :image, {class: 'form-control', value: 'Post It'} %>
			<%= f.file_field :image, {id: 'upload_file', accept: 'image/*', capture: 'camera'}%>
		<% end %>
	</div>
</nav>